
.container {
    border-radius: 0.8rem;
    margin-top: 10px;
    width: 95%;
    background-color: rosybrown;
}

#from, #to {
    font-size: 15px;
    height: 60%;
}
.row1 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.task {
    margin-bottom: 5px;
}

.form {
    width: 100%;
    padding-top: 20px;
    padding-left: 50px ;
    padding-right: 50px;
}

.task_des {
    overflow: hidden;
    word-wrap: break-word;
}

.fa {
    cursor: pointer;
}




